html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: linear-gradient(155deg, #0f3443 30%, #14706c, #209263);
  padding: 50px;
  box-sizing: border-box;
  min-height: 100%;
}
