.table {
  margin-top: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
}

.table > *:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

div[class^="table-row"] {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

div[class^="table-row"] > * {
  padding: 10px 10px;
  flex-basis: 100%;
}

.table-row-header {
  color: teal;
  font-weight: bold;
  text-transform: uppercase;
}

.table-cell-name {
  color: lightslategrey;
}

.table-cell-currency {
  color: lightslategrey;
}
